#abcdedf:hover {
  transform: scale(1.2);
  font-weight: bolder;
  background-color: rgba(180, 252, 255, 0.857);
}
#lkjfljdf {
  font-weight: bold;
  font-size: medium;
}
#lkjfljdf:hover {
  background-color: rgba(180, 252, 255, 0.857);
}
