<dx-popup
  width="95%"
  [height]="HeightOfPopupWithGrid"
  [position]="'center'"
  [showTitle]="true"
  titleTemplate="titleTemplate"
  [dragEnabled]="true"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="multiGroupComparisonReportPopupVisible"
  [animation]="{ hide: { type: 'slideOut', direction: 'right', duration: 1000 }, show: { type: 'slideIn', direction: 'left', duration: 1500 } }"
>
  <div *dxTemplate="let content of 'titleTemplate'" class="d-flex justify-content-between">
    <div class="">
      <div class="text-center">
        <h4 style="font-weight: bold; font-family: cursive">
          {{ ComparisonName }}
        </h4>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <!-- <dx-button class="p-0 mr-1 border-0" type="transparent" (onClick)="filtering()" icon="filter"></dx-button> -->
      <dx-button class="p-0 border-0" type="transparent" (onClick)="ClosePopup()" icon="close"></dx-button>
    </div>
  </div>
  <div *dxTemplate="let data of 'content'">
    <dx-data-grid
      #popupGrid
      width="100%"
      height="98%"
      id="GridWithHeading"
      [dataSource]="headerArray"
      [showColumnLines]="false"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [showBorders]="true"
      (onToolbarPreparing)="singleGroupComparisonGridToolbarPreparing($event)"
      (onRowPrepared)="onRowPrepared($event)"
    >
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, headerArray.length]" [showInfo]="true"></dxo-pager>
      <dxo-filter-row [visible]="filter"></dxo-filter-row>
      <dxo-header-filter [visible]="filter"></dxo-header-filter>
      <!-- <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always"></dxo-selection> -->
      <div *dxTemplate="let data of 'SalesAnalyticsMultipleGropGridTemplate'">
        <div class="HeadingDiv">
          <div class="mr-2">
            <h4 style="color: whitesmoke">
              Total Qty = <span style="font-family: cursive; font-weight: bold">{{ totalQty }} (Bags)</span> , Total Weight =
              <span style="font-family: cursive; font-weight: bold">{{ totalWeight }} (Kg) , </span> Total Amount = <span style="font-family: cursive; font-weight: bold">{{ totalAmount }} (Rs)</span>
            </h4>
          </div>
        </div>
      </div>
      <dxi-column dataField="Id" caption="Id" dataType="number" [visible]="false"></dxi-column>
      <!-- <dxi-column dataField="VarietyName" caption="VarietyName" dataType="string" alignment="left"></dxi-column> -->
      <dxi-column dataField="FirstGroupName" [width]="280" caption="{{ FirstGroupCaption }}" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="QtyBy1StGroup" caption="T. Qty" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="WeightBy1StGroup" caption="T. Weight" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="AmountBy1StGroup" caption="T. Amount" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column
        dataField="PrcntBy1stGroup"
        caption="% of Total Sale Amount"
        cellTemplate="cellTemplate"
        dataType="number"
        alignment="center"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>

      <!-- <dxi-column dataField="FcyCode" caption="Fcy Code" cellTemplate="cellTemplate" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="AvgPrice" caption="Avg Fcy Rate" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="Fcy_Amount" caption="Fcy Amount" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="FcrAvgRate" caption="Avg Exchage Rate" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="PKR_Amount" caption="PKR Amount" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column> -->
      <dxo-master-detail [enabled]="true" template="masterDetail" [autoExpandAll]="true"></dxo-master-detail>
      <div *dxTemplate="let masterDetailItem of 'masterDetail'">
        <multi-group-comparison-detail-for-sales
          [key]="masterDetailItem.Id"
          [secondGroupCaption]="MultiGroupCaption"
          [dataSource]="dataSource"
          [rowData]="masterDetailItem.data"
        ></multi-group-comparison-detail-for-sales>
      </div>

      <div *dxTemplate="let cell of 'cellTemplate'">
        <div id="abcdedf">{{ cell.text }}</div>
      </div>
      <div *dxTemplate="let cell of 'SupplierNameTemplate'">
        <div id="lkjfljdf">{{ cell.text }}</div>
      </div>
      <div *dxTemplate="let cell of 'GpNoTemplate'">
        <div id="abcdedf" style="font-weight: bolder; font-size: medium">{{ cell.text }}</div>
      </div>
      <div *dxTemplate="let cellInfo of 'StatusTemplate'">
        <div *ngIf="cellInfo.text == 'Open'">
          <span class="badge badge-warning">Open</span>
        </div>
        <div *ngIf="cellInfo.text == 'Complete'">
          <span class="badge badge-info">Complete</span>
        </div>
      </div>
      <dxo-summary>
        <dxi-total-item column="QtyBy1StGroup" summaryType="sum" name="MTons" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        <dxi-total-item column="WeightBy1StGroup" summaryType="sum" name="PrctExport" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        <dxi-total-item column="PrcntBy1stGroup" summaryType="sum" name="PrctExport" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        <!-- <dxi-total-item column="Fcy_Amount" summaryType="sum" name="Fcy_Amount" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        <dxi-total-item column="PKR_Amount" summaryType="sum" name="PKR_Amount" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        <dxi-group-item column="MTons" summaryType="sum" [showInGroupFooter]="true" displayFormat="{0}" [alignByColumn]="true" valueFormat="#,##0"> </dxi-group-item>
        <dxi-group-item column="PrctExport" summaryType="sum" [showInGroupFooter]="true" displayFormat="{0}" [alignByColumn]="true" valueFormat="#,##0"> </dxi-group-item>
        <dxi-group-item column="Fcy_Amount" summaryType="sum" [showInGroupFooter]="true" displayFormat="{0}" [alignByColumn]="true" valueFormat="#,##0"> </dxi-group-item>
        <dxi-group-item column="PKR_Amount" summaryType="sum" [showInGroupFooter]="true" displayFormat="{0}" [alignByColumn]="true" valueFormat="#,##0"> </dxi-group-item> -->
      </dxo-summary>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    </dx-data-grid>
  </div>
</dx-popup>
<!-- <dx-popup
  [width]="PopupWidth"
  [height]="PopupHeight"
  [position]="'center'"
  [showTitle]="true"
  titleTemplate="titleTemplate"
  [dragEnabled]="true"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="multiGroupComparisonReportPopup2Visible"
  [animation]="{ hide: { type: 'slideOut', direction: 'right', duration: 1000 }, show: { type: 'slideIn', direction: 'left', duration: 1500 } }"
>
  <div *dxTemplate="let content of 'titleTemplate'" class="d-flex justify-content-between">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h4 style="font-weight: bold; font-family: cursive">

        </h4>
      </div>
    </div>

    <div class="d-flex justify-content-end">
  
      <dx-button class="p-0 border-0" type="transparent" (onClick)="ClosePopup()" icon="close"></dx-button>
    </div>
  </div>
  <div *dxTemplate="let data of 'content'">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="d-block">
          <h4 style="font-weight: bold; font-family: cursive">
            {{ ComparisonName }}
          </h4>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <div class="d-block">
          <h4 style="font-weight: bold; font-family: cursive">Total Export = {{ totalExport }} (M.Ton)</h4>
        </div>
      </div>
    </div>

    <dx-data-grid
      #popupGrid
      width="100%"
      [height]="PopupGridHeight"
      id="popupGrid"
      [dataSource]="dataSource2"
      [showColumnLines]="false"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [showBorders]="true"
      (onToolbarPreparing)="singleGroupComparisonGridToolbarPreparing($event)"
      (onRowPrepared)="onRowPrepared($event)"
    >
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, dataSource2.length]" [showInfo]="true"></dxo-pager>
      <dxo-filter-row [visible]="filter"></dxo-filter-row>
      <dxo-header-filter [visible]="filter"></dxo-header-filter>
      
      <dxi-column dataField="Id" caption="Id" dataType="number" [visible]="false"></dxi-column>
     
      <dxi-column dataField="FirstGroupName" caption="{{ FirstGroupCaption }}" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="TotalMtBy1stGroup" caption="T. MTons" cellTemplate="cellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column
        dataField="PrcntBy1stGroup"
        caption="% of T.Export"
        cellTemplate="SupplierNameTemplate"
        dataType="number"
        alignment="center"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        dataField="TotalFcyAmountByFirstGroup"
        caption="T. Fcy Amount"
        cellTemplate="SupplierNameTemplate"
        dataType="number"
        alignment="center"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        dataField="totalPkrAmountByFirstGroup"
        caption="T. Pkr Amount"
        cellTemplate="SupplierNameTemplate"
        dataType="number"
        alignment="center"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
     

      <div *dxTemplate="let cell of 'cellTemplate'">
        <div id="abcdedf">{{ cell.text }}</div>
      </div>
      <div *dxTemplate="let cell of 'SupplierNameTemplate'">
        <div id="lkjfljdf">{{ cell.text }}</div>
      </div>
      <div *dxTemplate="let cell of 'GpNoTemplate'">
        <div id="abcdedf" style="font-weight: bolder; font-size: medium">{{ cell.text }}</div>
      </div>
      <div *dxTemplate="let cellInfo of 'StatusTemplate'">
        <div *ngIf="cellInfo.text == 'Open'">
          <span class="badge badge-warning">Open</span>
        </div>
        <div *ngIf="cellInfo.text == 'Complete'">
          <span class="badge badge-info">Complete</span>
        </div>
      </div>
      <dxo-summary>
        <dxi-total-item column="TotalMtBy1stGroup" summaryType="sum" name="MTons" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        <dxi-total-item column="PrcntBy1stGroup" summaryType="sum" name="PrctExport" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
        
      </dxo-summary>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    </dx-data-grid>
  </div>
</dx-popup> -->
