<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5 class="mb-3">Variety Conversion History (Trade)</h5>
    </div>
    <div class="col-md-12">
      <dx-button id="filter" class="ml-3 mb-3" type="default" text="Add New" icon="plus" (onClick)="gotoStockConversionForm()"> </dx-button>
    </div>
    <div class="col-md-12" [ngStyle]="{ height: columnHeight }" #stickyMenu [class.sticky]="sticky">
      <div class="card">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="dataSource"
          [height]="gridHeight"
          [showColumnLines]="false"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [allowColumnResizing]="true"
          [allowColumnReordering]="true"
          [columnAutoWidth]="true"
          [showBorders]="true"
          (onToolbarPreparing)="onToolbarPreparing($event)"
        >
          <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-filter-row [visible]="filter"></dxo-filter-row>
          <dxo-header-filter [visible]="filter"></dxo-header-filter>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
          <dxi-column dataField="Id" caption="Id" [visible]="false"></dxi-column>

          <dxi-column dataField="DocSrNo" caption="DocSrNo" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="left"></dxi-column>

          <dxi-column dataField="DocDate" caption="DocDate" dataType="date" alignment="center" [format]="'dd-MMM-yyyy'"></dxi-column>

          <dxi-column dataField="ProductionNo" caption="Production No" dataType="string" alignment="left"></dxi-column>
          <dxi-column dataField="Remarks" caption="Remarks" dataType="string" alignment="left"></dxi-column>
          <dxo-master-detail [enabled]="true" template="masterDetail"></dxo-master-detail>
          <div *dxTemplate="let masterDetailItem of 'masterDetail'">
            <variety-conversion-trade-pro-detail [key]="masterDetailItem.Id" [rowData]="masterDetailItem.data"></variety-conversion-trade-pro-detail>
          </div>
          <!-- <dxo-summary>
          <dxi-total-item column="FirstWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
          <dxi-total-item column="SecondWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
          <dxi-total-item column="ItemQty" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
          <dxi-total-item column="NetWbWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
        </dxo-summary> -->
          <dxi-column
            dataField="button"
            [fixed]="true"
            [fixedPosition]="'right'"
            [width]="90"
            alignment="right"
            caption="Action"
            [allowEditing]="false"
            [allowExporting]="false"
            [allowFiltering]="false"
            [allowFixing]="false"
            [allowGrouping]="false"
            [allowHeaderFiltering]="false"
            [allowHiding]="false"
            [allowReordering]="false"
            [allowResizing]="false"
            [allowSearch]="false"
            [allowSorting]="false"
            cellTemplate="buttonTemplate"
          ></dxi-column>
          <div *dxTemplate="let cellInfo of 'buttonTemplate'">
            <div class="d-con-cell-action">
              <dx-button type="default" stylingMode="text" (onClick)="onEdit(cellInfo.data)">
                <i class="ri-edit-2-line"></i>
              </dx-button>
              <dx-button type="danger" stylingMode="text" hint="605_StockConversionSlip" (onClick)="onSlipPrint(cellInfo.data)">
                <i class="ri-printer-line"></i>
              </dx-button>
            </div>
          </div>

          <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
          <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
