<!-- Designed By Sufian Arshad -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-pagetitle [title]="'Import Dashboard'" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <dx-form id="form" [formData]="ImportDashboardFormData" #ImportDashboardForm [showRequiredMark]="false">
        <dxi-item itemType="group" cssClass="second-group" [colCount]="6">
          <dxi-item
            dataField="dateType"
            editorType="dxSelectBox"
            [editorOptions]="{
              placeholder: 'Date Type',
              items: dateList,
              valueExpr: 'Id',
              displayExpr: 'name',
              onInitialized: setFocus,
              onValueChanged: datetypeChanged,
              stylingMode: 'underlined'
            }"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
          </dxi-item>
          <dxi-item
            cssClass="px-1 m-0 "
            dataField="FromDate"
            editorType="dxDateBox"
            [editorOptions]="{
              placeholder: 'From Date',
              displayFormat: 'dd-MMM-yyyy',
              stylingMode: 'underlined'
            }"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
            <dxi-validation-rule type="required" message="From Date is required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item
            cssClass="px-1 m-0"
            dataField="ToDate"
            editorType="dxDateBox"
            [editorOptions]="{
              placeholder: 'To Date',
              displayFormat: 'dd-MMM-yyyy',
              stylingMode: 'underlined'
            }"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
            <dxi-validation-rule type="required" message="To Date is required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item>
            <dx-button class="btn-sm" style="margin-top: 10px" text="Show" type="success" (onClick)="onSubmit()"></dx-button>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </div>

  <!-- Main Summary Dashboard Here-->

  <div class="card">
    <hr />
    <div class="card-body">
      <div class="row">
        <!-- end col -->
        <div class="col-xl-6 col-md-6 col-sm-12" *ngFor="let item of ImportDashboardData; let i = index">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-header" Id="OutStandingSalesContractCardHeaderId">
              <h3>
                {{ item.BaseColumnName }}
                <dx-button type="danger" stylingMode="text" style="color: rgb(235, 235, 232)" id="totalExportToolTipButton" (onClick)="showFirstToolTip()">
                  <i class="fa fa-question-circle"></i>
                </dx-button>
              </h3>
              <!-- <dx-button class="ml-3 mb-3" (onClick)="showFirstToolTip()" icon="fa fa-question-circle" id="totalExportToolTipButton"></dx-button> -->
              <!-- <dx-tooltip target="#totalExportToolTipButton" [(visible)]="" [closeOnOutsideClick]="false">
                <div *dxTemplate="let data = data; of: 'content'"></div>
              </dx-tooltip> -->

              <dx-data-grid
                style="height: 120px"
                id="OutStandingSalesContract"
                [dataSource]="item.List"
                [showColumnLines]="false"
                [showRowLines]="true"
                [rowAlternationEnabled]="false"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [showBorders]="false"
              >
                <dxo-grouping [contextMenuEnabled]="false"></dxo-grouping>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-filter-row [visible]="filter"></dxo-filter-row>
                <dxo-header-filter [visible]="filter"></dxo-header-filter>
                <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
                <dxo-load-panel [enabled]="false"></dxo-load-panel>

                <!-- <dxi-column dataField="Column1" caption="Column1" [visible]="false"></dxi-column>
                <dxi-column dataField="Contract_MTons" caption="MTons" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
                <dxi-column dataField="FcyCode" caption="Fcy" dataType="string" alignment="center" [width]="50"></dxi-column>
                <dxi-column dataField="Fcy_Rate" caption="Fcy Rate" dataType="number" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
                <dxi-column dataField="Fcy_Amount" caption="Fcy Amount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
                <dxi-column dataField="PKR_AmountTotal" caption="PKR Amount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column> -->

                <dxo-scrolling mode="infinite" [scrollByContent]="true" [scrollByThumb]="true"></dxo-scrolling>
              </dx-data-grid>

              <!-- <a routerLink="/export-reports/sale-contract-register" class="small-box-footer p-0 m-0" data-toggle="tooltip" data-placement="top" title="Click For Open Sales Contract Detail Report">
                More info <i id="footer-icon" class="fas fa-arrow-circle-right" style="color: white"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ENd Aproval Cards Here -->
    <div class="card-footer center"></div>
  </div>
</div>
