<div class="container-fluid">
  <!-- start page title -->
  <app-pagetitle title="Import Puchase Order" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <!-- end page title -->
</div>

<div class="row">
  <dx-button id="filter" class="ml-3 mb-3" type="default" text="Add New" icon="plus" (onClick)="gotoForm()"> </dx-button>

  <div class="col-md-12" [ngStyle]="{ height: gridColumnHeight }" #stickyGrid [class.sticky]="sticky">
    <div class="card p-2 rounded">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="headerArray"
        [height]="gridHeight"
        [showColumnLines]="false"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [allowColumnResizing]="true"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [showBorders]="true"
        (onToolbarPreparing)="onToolbarPreparing($event)"
      >
        <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>
        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="{{ HistoryGridSateKey('ImportPurchaseOrderHistoryState') }}"></dxo-state-storing>
        <dxo-search-panel [visible]="true" [width]="250" [visible]="filter"></dxo-search-panel>

        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-filter-row [visible]="filter"></dxo-filter-row>
        <dxo-header-filter [visible]="filter"></dxo-header-filter>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxi-column dataField="Id" caption="Id" [visible]="false"></dxi-column>
        <!-- <dxi-column dataField="RecordNo" caption="Sr#" dataType="number"></dxi-column> -->
        <dxi-column dataField="" [fixed]="true" [fixedPosition]="'left'" caption="Sr#" cellTemplate="SerialNumberTemplate"></dxi-column>
        <div *dxTemplate="let cellInfo of 'SerialNumberTemplate'">
          <div class="d-con-cell-action">
            <h5 style="font-family: cursive; font-weight: bold">{{ cellInfo.rowIndex + 1 }}</h5>
          </div>
        </div>

        <dxi-column dataField="Id" caption="Id" dataType="number" [visible]="false"></dxi-column>
        <dxi-column dataField="LcOrderDocNo" caption="Contract No" dataType="string" alignment="center"></dxi-column>
        <dxi-column dataField="DocNo" caption="Order#" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="DocDate" caption="DocDate" [format]="'dd-MMM-yyyy'" dataType="date"></dxi-column>
        <dxi-column dataField="SupplierName" caption="Supplier" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="SupplierOrderNo" caption="Supplier Order#" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="PaymentTerm" caption="PaymentTerm" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="DeliveryTerm" caption="DeliveryTerm" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="CurrencyCode" caption="Fcy Code" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="FcyAmount" caption="Fcy Amount" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
        <dxi-column dataField="HomeCurrency" caption="Home Currency" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="ExchangeRate" caption="Exchange Rate" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
        <dxi-column dataField="LocalAmount" caption="Local Amount" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
        <dxi-column dataField="LoadingPort" caption="Loading Port" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="DestinationPort" caption="Destination Port" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="Containers" caption="No Of Containers" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
        <dxi-column dataField="LcPoOrderStatus" caption="Status" dataType="string" alignment="left"></dxi-column>
        <dxo-summary>
          <dxi-total-item column="FcyAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
          <dxi-total-item column="LocalAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
          <dxi-total-item column="Containers" summaryType="sum" displayFormat="{0}" valueFormat="#,##0"> </dxi-total-item>
          <dxi-total-item column="Supplier" summaryType="count" displayFormat="Total Records: {0}"> </dxi-total-item>
        </dxo-summary>

        <dxi-column
          dataField="button"
          [fixed]="true"
          [fixedPosition]="'right'"
          [width]="120"
          alignment="right"
          caption="Action"
          [allowEditing]="false"
          [allowExporting]="false"
          [allowFiltering]="false"
          [allowFixing]="false"
          [allowGrouping]="false"
          [allowHeaderFiltering]="false"
          [allowHiding]="false"
          [allowReordering]="false"
          [allowResizing]="true"
          [allowSearch]="false"
          [allowSorting]="false"
          cellTemplate="buttonTemplate"
        ></dxi-column>
        <div *dxTemplate="let cellInfo of 'buttonTemplate'">
          <div class="d-con-cell-action">
            <dx-button type="default" stylingMode="text" (onClick)="onEdit(cellInfo.data)">
              <i class="ri-edit-2-line"></i>
            </dx-button>
            <dx-button type="danger" stylingMode="text" hint="805-Purchase Order Slip" (onClick)="PurchaseOrderSlipB_805(cellInfo.data)">
              <i class="ri-printer-line"></i>
            </dx-button>
          </div>
        </div>

        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-scrolling mode="infinite" [scrollByContent]="true" [scrollByThumb]="true"></dxo-scrolling>
        <dxo-master-detail [enabled]="true" template="masterDetail"></dxo-master-detail>
        <div *dxTemplate="let masterDetailItem of 'masterDetail'">
          <import-purchase-order-detial [key]="masterDetailItem.Id" [dataSource]="dataSource" [rowData]="masterDetailItem.data"></import-purchase-order-detial>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <notification-popups [title]="'WARNING'" [type]="'warning'" (okClicked)="closeNotificationPopups($event)" [visibility]="warningPopupVisibility" [message]="message"></notification-popups>
    <notification-popups [title]="'ERROR'" [type]="'error'" (okClicked)="closeNotificationPopups($event)" [visibility]="errorPopupVisisble" [message]="message"></notification-popups>
    <notification-popups [title]="'Status'" [type]="'success'" (okClicked)="closeNotificationPopups($event)" [visibility]="successPopupVisible" [message]="message"></notification-popups>
  </div>
  <div class="col-md-12">
    <load-panel [message]="loadPanelMessage" [visibility]="loadPanelVisible"></load-panel>
  </div>
</div>
