<dx-data-grid
  [dataSource]="gridDataSource"
  [showColumnLines]="false"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  [wordWrapEnabled]="false"
>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true"></dxo-pager>

  <dxi-column dataField="OrderNo" caption="Order No" dataType="number" alignment="left" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="SupplierCustomer" caption="Supplier Customer" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="ItemName" caption="Item Name" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="DoQty" caption="Qty" dataType="number" alignment="right"></dxi-column>
  <dxi-column dataField="DoWeight" caption="Weight" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="LoadingQty" caption="Loading Qty" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="LoadingWeight" caption="Loading Weight" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="PackUOM" caption="Pack UOM" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="PackTypeDesc" caption="Packing Type" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="WareHouseName" caption="WareHouse" dataType="string" alignment="left"></dxi-column>

  <dxi-column dataField="LoadingRemarks" caption="Remarks" dataType="string" alignment="left"></dxi-column>

  <dxo-summary>
    <dxi-total-item column="DoQty" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="DoWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="LoadingQty" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="LoadingWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
  </dxo-summary>
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
</dx-data-grid>
