<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <dx-data-grid
    id="gridContainer"
    [showColumnLines]="false"
    [dataSource]="dataSource"
    [showRowLines]="true"
    [rowAlternationEnabled]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showBorders]="true"
    (onToolbarPreparing)="onToolbarPreparing($event)"
  >
    <dxo-grouping [contextMenuEnabled]="grouping"></dxo-grouping>
    <dxo-group-panel [visible]="grouping"></dxo-group-panel>
    <dxo-filter-row [visible]="filter"></dxo-filter-row>
    <dxo-header-filter [visible]="filter"></dxo-header-filter>
    <dxo-column-chooser [enabled]="columnChooser"></dxo-column-chooser>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-export [enabled]="true" fileName="{{ excelFileName }}" [allowExportSelectedData]="true">
      <dxo-texts exportAll="Export All Rows"></dxo-texts>
    </dxo-export>
    <dxo-selection mode="{{ selectionMode }}" selectAllMode="page" showCheckBoxesMode="always"></dxo-selection>
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>

    <dxi-column
      *ngFor="let column of columns"
      dataField="{{ column.dataField }}"
      caption="{{ column.caption }}"
      dataType="{{ column.dataType }}"
      [visible]="column.visible"
    >
    </dxi-column>
    <dxo-summary>
      <dxi-total-item *ngFor="let item of summary" column="{{ item.column }}" summaryType="{{ item.summaryType }}" valueFormat="#,##0.##">
      </dxi-total-item>
    </dxo-summary>
    <dxi-column
      dataField="button"
      [fixed]="true"
      [fixedPosition]="'right'"
      [width]="90"
      alignment="right"
      caption="Action"
      [allowEditing]="false"
      [allowExporting]="false"
      [allowFiltering]="false"
      [allowFixing]="false"
      [allowGrouping]="false"
      [allowHeaderFiltering]="false"
      [allowHiding]="false"
      [allowReordering]="false"
      [allowResizing]="false"
      [allowSearch]="false"
      [allowSorting]="false"
      cellTemplate="buttonTemplate"
      [visible]="actionsEnabled"
      cssClass="m-0 p-0"
    ></dxi-column>
    <div *dxTemplate="let cellInfo of 'buttonTemplate'">
      <div class="d-con-cell-action">
        <dx-button *ngIf="editEnabled" type="default" stylingMode="text" icon="edit" (onClick)="editRow(cellInfo.data, cellInfo.rowIndex)">
        </dx-button>
        <dx-button *ngIf="deleteEnabled" type="danger" stylingMode="text" icon="trash" (onClick)="deleteRow(cellInfo.rowIndex)">
        </dx-button>
      </div>
    </div>
    <dxo-export [enabled]="excelExport" [allowExportSelectedData]="excelExport"></dxo-export>
    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
  </dx-data-grid>
</div>
