
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <dx-data-grid
      #ImportInoviceApprovalGrid
      [height]="gridHeightInPopupWithGrid"
      
      id="GridWithHeading"
      [dataSource]="dataSource"
      [showColumnLines]="false"
      [showRowLines]="true"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [columnAutoWidth]="true"
      [showBorders]="true"
      (onToolbarPreparing)="ApprovalPopupGridToolbarPreparing($event)"
    >
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

      <dxo-state-storing [enabled]="true" type="localStorage" storageKey="{{ HistoryGridSateKey('ImportInvoiceApprovalGridState') }}"></dxo-state-storing>
      <dxo-search-panel [visible]="true" [width]="250" [visible]="filter"></dxo-search-panel>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <!-- <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always"></dxo-selection> -->
      <div *dxTemplate="let data of 'GridHeadingTemplate'">
        <div class="HeadingDiv">
          <h4 class="Heading" style="font-weight: bold; color: whitesmoke">{{ ApprovalPopupHeading }}</h4>
          <!-- <h3 class="count">{{ OutstandingPaddyPurchaseOrderDataCount }}</h3> -->
        </div>
      </div>
      <dxi-column dataField="Sr#" [fixed]="true" [fixedPosition]="'left'" caption="Sr#" cellTemplate="SerialNumberTemplate"></dxi-column>
      <div *dxTemplate="let cellInfo of 'SerialNumberTemplate'">
        <div class="d-con-cell-action">
          <h5 style="font-family: cursive; font-weight: bold">{{ cellInfo.rowIndex + 1 }}</h5>
        </div>
      </div>
      <dxi-column dataField="Id" caption="Id" [visible]="false"></dxi-column>
      <dxi-column dataField="DocCode" caption="Doc No" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="InvoiceNo" caption="Invoice No" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="DocDate" caption="Invoice Date" dataType="date" [format]="'dd-MMM-yyyy'"></dxi-column>
      <dxi-column dataField="CustomerName" caption="Supplier" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="NotifyParty1Name" caption="Notify Party 1" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="NotifyParty2Name" caption="Notify Party 2" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="LotNoRef" caption="Lot Ref" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="PaymentTerm" caption="Payment Term" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="DeliveryTerm" caption="Delivery Term" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="ImporterBank" caption="Importer Bank" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="ExporterBank" caption="Exporter Bank" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="LoadingPort" caption="Loading Port" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="DestinationPort" caption="Destination Port" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="CarierType" caption="Carier Type" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="CurrencyCode" caption="Fcy Currency" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="FCurrencyAmount" caption="Fcy Amount" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="ConversionRate" caption="Exchange Rate" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
      <dxi-column dataField="EquivalentAmount" caption="Local Amount" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
      <dxi-column dataField="GrossWeight" caption="Gross Weight" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
      <dxi-column dataField="NetWeight" caption="Net Weight" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
      <dxi-column dataField="NoOfContainers" caption="No Of Containers" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
      <dxi-column dataField="EFormNo" caption="IForm No" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="EFormDate" caption="IForm Date" dataType="date" [format]="'dd-MMM-yyyy'" alignment="center" [width]="110"></dxi-column>
      <dxi-column dataField="Certificate1" caption="Certificate 1" dataType="number" alignment="center"></dxi-column>
      <dxi-column dataField="Certificate2" caption="Certificate 2" dataType="number" alignment="center"></dxi-column>

      <dxi-column dataField="IsApproved" caption="Status" cellTemplate="statusTemplate"></dxi-column>
      <div *dxTemplate="let cellInfo of 'statusTemplate'">
        <div *ngIf="cellInfo.value == true; else falseStatus">
          <span class="badge badge-success">Approved</span>
        </div>
        <ng-template #falseStatus class="badge badge-danger"> <span class="badge badge-danger">Not Approved</span></ng-template>
      </div>
      <dxi-column dataField="EntryUserName" caption="User Name"></dxi-column>
      <dxi-column dataField="RemarksHeader" caption="Remarks"></dxi-column>
      <dxi-column
        dataField="button"
        [fixed]="true"
        [fixedPosition]="'right'"
        [width]="100"
        alignment="right"
        caption="Action"
        [allowEditing]="false"
        [allowExporting]="false"
        [allowFiltering]="false"
        [allowFixing]="false"
        [allowGrouping]="false"
        [allowHeaderFiltering]="false"
        [allowHiding]="false"
        [allowReordering]="false"
        [allowResizing]="false"
        [allowSearch]="false"
        [allowSorting]="false"
        cellTemplate="buttonTemplate"
      ></dxi-column>
      <div *dxTemplate="let cellInfo of 'buttonTemplate'">
        <div class="d-con-cell-action">
          <dx-button type="default" stylingMode="text" hint="Approved Voucher" (onClick)="onApproved(cellInfo.data)">
            <i class="ri-checkbox-fill" style="height: 24px; width: 24px"></i>
          </dx-button>
          <dx-button type="danger" stylingMode="text" hint="806-Invoice Slip" (onClick)="ImInvoiceSlip_806(cellInfo.data)">
            <i class="ri-printer-line"></i>
          </dx-button>
        </div>
      </div>
      <dxo-scrolling [mode]="'infinite'" [showScrollbar]="'always'" [scrollByContent]="true" [scrollByThumb]="true" [scrollLeft]="true"></dxo-scrolling>
      <dxo-summary>
        <dxi-total-item column="Sr#" summaryType="count" displayFormat="Total Records: {0}"> </dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <notification-popups
        [title]="'Confirmation'"
        [type]="'confirmation'"
        (confirmed)="handleYesNoClicked($event)"
        [visibility]="confirmationPopupVisible"
        [message]="'Do You want to Approve?'"
      ></notification-popups>
      <notification-popups [title]="'WARNING'" [type]="'warning'" (okClicked)="closeNotificationPopups($event)" [visibility]="warningPopupVisibility" [message]="message"></notification-popups>
      <notification-popups [title]="'ERROR'" [type]="'error'" (okClicked)="closeNotificationPopups($event)" [visibility]="errorPopupVisisble" [message]="message"></notification-popups>
      <notification-popups [title]="'Status'" [type]="'success'" (okClicked)="closeNotificationPopups($event)" [visibility]="successPopupVisible" [message]="message"></notification-popups>
    </div>
    <div class="col-md-12">
      <load-panel [message]="loadPanelMessage" [visibility]="loadPanelVisible"></load-panel>
    </div>
  </div>
</div>
