<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div class="">
          <app-pagetitle [title]="'Sale Invoice'"></app-pagetitle>
        </div>
        <div class="">
          <dx-button class="mr-1" icon="download" type="danger" (onClick)="handlePopupVisibility(1)"></dx-button>
          <dx-button class="mr-2" [hint]="'Add New'" type="default" icon="plus" (onClick)="resetForm()"> </dx-button>
          <dx-button icon="refresh" type="success" [hint]="'Reload Form Fields'" (onClick)="FetchData()"></dx-button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <dx-form [formData]="SaleInvoiceFormData" #SaleInvoiceForm [showRequiredMark]="false" [colCountByScreen]="{ lg: 5, md: 3, sm: 2, xs: 2 }">
        <!-- <dxi-item itemType="group" [colCount]="6"> -->
        <!-- <dxi-item
            dataField="CompanyId"
            editorType="dxSelectBox"
            [editorOptions]="{ placeholder: 'Company', valueExpr: 'Id', displayExpr: 'CompName', searchEnabled: true, items: companyList }"
            cssClass="px-1 m-0"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>

            <dxi-validation-rule type="required" message="Company is required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item
            dataField="BranchesId"
            editorType="dxSelectBox"
            [editorOptions]="{ placeholder: 'Branch', valueExpr: 'Id', displayExpr: 'BranchName', searchEnabled: true, items: branchList }"
            cssClass="px-1 m-0"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>

            <dxi-validation-rule type="required" message="Branch is required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item
            dataField="ProjectsId"
            editorType="dxSelectBox"
            [editorOptions]="{ placeholder: 'Project', valueExpr: 'Id', displayExpr: 'ProjectName', searchEnabled: true, items: projectList }"
            cssClass="px-1 m-0"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
            <dxi-validation-rule type="required" message="Project is required"></dxi-validation-rule>
          </dxi-item> -->
        <dxi-item dataField="DocDate" editorType="dxDateBox" [editorOptions]="{ placeholder: 'Date', displayFormat: 'dd-MMM-yyyy' }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="DocNo" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Doc No.', readOnly: true }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>

          <dxi-validation-rule type="required" message="DocNo is required"></dxi-validation-rule>
        </dxi-item>
        <!-- <dxi-item
            dataField="PaymentTermsId"
            editorType="dxSelectBox"
            [editorOptions]="{ placeholder: 'Payment Term', items: paymentTermList, valueExpr: 'Id', displayExpr: 'TermsDescription', searchEnabled: true }"
            cssClass="px-1 m-0"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
            <dxi-validation-rule type="required" message="Payment Term is required"></dxi-validation-rule>
          </dxi-item> -->
        <!-- </dxi-item> -->
        <dxi-item
          dataField="SupplierCustomerId"
          editorType="dxSelectBox"
          [editorOptions]="{
            placeholder: 'Supplier/Customer',
            dataSource: supplierCustomerList,
            valueExpr: 'Id',
            displayExpr: 'CompanyName',
            searchEnabled: true,
            onInitialized: setFocus,
            readOnly: transpotationGridDataSource
          }"
          [colSpan]="2"
          cssClass="px-1 m-0"
        >
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>

          <dxi-validation-rule type="required" message="Supplier/Customer is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="ManualBillNo" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Manual Bill #' }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <!-- <dxi-item
            dataField="ReferencePartyId"
            editorType="dxSelectBox"
            [editorOptions]="{
              placeholder: 'ReferencePartyId',
              items: supplierCustomerList,
              valueExpr: 'Id',
              displayExpr: 'CompanyName',
              searchEnabled: true,
              showDataBeforeSearch: false,
              minSearchLength: 2
            }"
            [colSpan]="2"
            cssClass="px-1 m-0"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
          </dxi-item> -->
        <dxi-item dataField="SupplierReferenceNo" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Refer. No' }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="OrderDueDays" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Due Days', onValueChanged: handleDueDaysChange }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
          <dxi-validation-rule type="required" message="Due Days are required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="OrderDueDate" editorType="dxDateBox" [editorOptions]="{ placeholder: 'Due Date', displayFormat: 'dd-MMM-yyyy' }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
          <dxi-validation-rule type="required" message="Due Date is required"></dxi-validation-rule>
        </dxi-item>
        <!-- <dxi-item
            dataField="DeliveryTerm"
            editorType="dxSelectBox"
            [editorOptions]="{ placeholder: 'Delivery Term', items: deliveryTermList, valueExpr: 'name', displayExpr: 'name', searchEnabled: true }"
            cssClass="px-1 m-0"
          >
            <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
            <dxi-validation-rule type="required" message="DeliveryTerm is required"></dxi-validation-rule>
          </dxi-item> -->
        <!-- <dxi-item itemType="group" [colCount]="6" cssClass="py-0 my-0"> -->
        <dxi-item
          dataField="CommissionAgentId"
          editorType="dxSelectBox"
          [editorOptions]="{
            placeholder: 'Sales Man/Comm Agent',
            dataSource: supplierCustomerList,
            valueExpr: 'Id',
            displayExpr: 'CompanyName',
            searchEnabled: true,
            onValueChanged: handleComissionBlock
          }"
          [colSpan]="2"
          cssClass="px-1 m-0"
        >
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item
          dataField="CommissionType"
          editorType="dxSelectBox"
          [editorOptions]="{ placeholder: 'Comm. Type', items: commissionTypeList, searchEnabled: true, onValueChanged: handleComissionBlock }"
          cssClass="px-1 m-0"
        >
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="CommRate" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Comm. Rate', onValueChanged: handleComissionBlock }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item
          dataField="UomScheduleIdCmRate"
          editorType="dxSelectBox"
          [editorOptions]="{ placeholder: 'Rate UOM', items: rateUOMList, searchEnabled: true, onValueChanged: handleComissionBlock }"
          cssClass="px-1 m-0"
        >
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>

        <dxi-item dataField="CommAmount" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Amount', onValueChanged: handleComissionBlock, readOnly: true }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <!-- </dxi-item> -->
        <!-- <dxi-item itemType="group" [colCount]="6" cssClass="my-0 py-0"> -->
        <dxi-item dataField="CommissionRemarks" editorType="dxTextBox" [editorOptions]="{ placeholder: 'Comm Remarks' }" [colSpan]="3" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="GpNO" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'GpNo', readOnly: true }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="VehicleNo" editorType="dxTextBox" [editorOptions]="{ placeholder: 'Vehicle No', readOnly: amountStatus }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="BillAmount" editorType="dxNumberBox" [editorOptions]="{ placeholder: 'Bill Amount', readOnly: true }" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
        <!-- </dxi-item> -->
        <!-- <dxi-item itemType="group" [colCount]="6" cssClass="my-0 py-0"> -->
        <dxi-item dataField="RemarksHeader" [colSpan]="2" editorType="dxTextBox" [editorOptions]="{ placeholder: 'Remarks' }" [colSpan]="6" cssClass="px-1 m-0">
          <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        </dxi-item>
      </dx-form>
      <div class="d-flex justify-content-end fixed-bottom p-4 pb-6">
        <dx-button icon="save" type="success" text="{{ purchaseBillParamsId > 0 ? 'Update' : 'Save' }}" (onClick)="onSave()"> </dx-button>
        <div class="m-1"></div>
        <dx-button icon="close" text="Close" type="danger" routerLink="/cus-sales/sale-invoice-history"></dx-button>
      </div>

      <div class="my-3">
        <dx-data-grid
          #detailGrid
          id="detailGrid"
          [dataSource]="dataSource"
          [showColumnLines]="false"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [showBorders]="true"
          [repaintChangesOnly]="true"
          (onContentReady)="onRowUpdateInDetailGrid($event)"
          (onRowUpdated)="onRowUpdateInDetailGrid($event)"
        >
          <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="false" [useIcons]="false"> </dxo-editing>
          <dxi-column dataField="RefDocumentTypeId" caption="RefDocumentTypeId" [visible]="false"></dxi-column>
          <dxi-column dataField="RefDocSubIdNo" caption="RefDocSubIdNo" [visible]="false"></dxi-column>
          <dxi-column dataField="RefDocIdNo" caption="RefDocIdNo" [visible]="false"></dxi-column>
          <dxi-column dataField="PurchaseGLAC" dataType="number" caption="PurchaseGLAC" [visible]="false" alignment="center"></dxi-column>
          <dxi-column dataField="InvGdnId" dataType="number" caption="InvGdnId" [visible]="false" alignment="center"></dxi-column>
          <dxi-column dataField="InvGdnDetailId" dataType="number" caption="InvGdnDetailId" [visible]="false" alignment="center"></dxi-column>
          <dxi-column dataField="ItemId" dataType="number" caption="Item" [visible]="false" alignment="center"></dxi-column>
          <dxi-column dataField="ItemName" caption="Item" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="CropYear" caption="CropYear" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ItemUomId" dataType="number" caption="Pack UOM" [visible]="false" alignment="center"> </dxi-column>
          <dxi-column dataField="ItemCode" dataType="number" caption="ItemCode" [visible]="false" alignment="center"> </dxi-column>
          <dxi-column dataField="UOMCodeItem" caption="Pack UOM" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ItemQty" dataType="number" alignment="center" caption="Qty" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="LabReportRef" caption="LabRef#" alignment="center" [allowEditing]="false"> </dxi-column>
          <dxi-column dataField="SaleOrderId" dataType="number" caption="Order #" alignment="center" [visible]="false"></dxi-column>
          <dxi-column dataField="SaleOrder" caption="Order #" alignment="center" [allowEditing]="false" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
          <dxi-column dataField="EBWPerUnit" dataType="number" caption="EBWPerUnit" alignment="center" [format]="{ type: 'fixedPoint', precision: 2 }" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="EBWTotal" dataType="number" caption="EBTotalWt" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="WtCutTotal" dataType="number" caption="WeightCutTotal" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="NetBillWeight" dataType="number" caption="NetBillWeight" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="GrossWeight" dataType="number" caption="GrossWeight" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="NetStockWeight" dataType="number" caption="NetStockWeight" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ItemRate" dataType="number" caption="Rate" alignment="center" [format]="{ type: 'fixedPoint', precision: 1 }" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="OrderItemRateUOMId" dataType="number" alignment="center" caption="Rate UOM" [visible]="false"> </dxi-column>
          <dxi-column dataField="RateUOM" caption="Rate UOM" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ItemAmount" dataType="number" caption="Item Amount" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="center" [allowEditing]="false"></dxi-column>
          <!-- <dxi-column dataField="RateCut" dataType="number" caption="RateCut" [format]="{ type: 'fixedPoint', precision: 2 }" alignment="center" [setCellValue]="onRateCutChangeInDetailGrd"></dxi-column>
            <dxi-column dataField="RateCutAmount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" caption="RateCutAmount" alignment="center" [allowEditing]="false"></dxi-column> -->
          <dxi-column dataField="BillAmount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" caption="BillAmount" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="CarriageAmount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" caption="Freight" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="ExpenseAmount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" caption="Expense" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="CommissionAmount" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" caption="Commision" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="WarehouseId" caption="WarehouseId" [visible]="false" alignment="center" [allowEditing]="false"> </dxi-column>

          <dxi-column dataField="JobLotId" dataType="number" caption="Lot" [visible]="false" alignment="center"> </dxi-column>
          <dxi-column dataField="PackingTypeId" dataType="number" caption="PackingTypeId" [visible]="false" alignment="center"> </dxi-column>

          <dxo-summary [recalculateWhileEditing]="true">
            <dxi-total-item column="NetBillWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="ItemQty"> </dxi-total-item>
            <dxi-total-item column="OrderItemRateUOMId" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="ItemQty"> </dxi-total-item>
            <dxi-total-item column="ItemAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="ItemRate"> </dxi-total-item>
            <dxi-total-item column="RateCut" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="ItemAmount"> </dxi-total-item>
            <dxi-total-item column="RateCutAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="RateCut"> </dxi-total-item>
            <dxi-total-item column="CarriageAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="RateCutAmount"> </dxi-total-item>
            <dxi-total-item column="ExpenseAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="ExpenseAmount"> </dxi-total-item>
            <dxi-total-item column="CommissionAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="CommissionAmount"> </dxi-total-item>
            <dxi-total-item column="BillAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0" name="BillAmount"> </dxi-total-item>
          </dxo-summary>
          <dxo-scrolling [scrollByContent]="true" [scrollByThumb]="true" [showScrollbar]="'always'" [scrollLeft]="true" mode="infinite"></dxo-scrolling>
        </dx-data-grid>
       
      </div>
      <dx-tab-panel #tabPanel [selectedIndex]="0">
        <!-- TransporterGrid -->
        <dxi-item title="Transportation">
          <div *dxTemplate class="p-1" class="p-1">
            <dx-data-grid
              #PayablesDebitToItemGrid
              id="PayablesDebitToItemGrid"
              [dataSource]="transpotationGridDataSource"
              [showColumnLines]="false"
              [showRowLines]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              [showBorders]="true"
              (onContentReady)="setTransportationExpenseInDetailGridProportionally($event)"
              (onRowUpdated)="setTransportationExpenseInDetailGridProportionally($event)"
            >
              <dxo-load-panel [enabled]="true"></dxo-load-panel>
              <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"> </dxo-editing>
              <dxi-column dataField="InvGdnId" caption="InvGrnId" alignment="center" dataType="number" [visible]="false"></dxi-column>
              <dxi-column dataField="TansporterId" caption="Transporter" dataType="number">
                <dxo-lookup [dataSource]="transporterList" [displayExpr]="'AccountTitle'" [valueExpr]="'Id'"></dxo-lookup>
                <dxi-validation-rule type="custom" [validationCallback]="checkValidationForTransporterIdIntTranspotationGrid" message="Please Select Account To be Credited for Transportation!">
                </dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="FreightAmount" caption="Credit" alignment="center" dataType="number" [setCellValue]="onFreightChangeInTranspotationGrid">
                <dxi-validation-rule type="custom" [validationCallback]="checkValidationForFreightAmountTranspotationGrid" message="Please Enter Amount To be Credited against Account!">
                </dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="Remarks" caption="Remarks" alignment="left" dataType="string"></dxi-column>

              <dxo-summary [recalculateWhileEditing]="true">
                <dxi-total-item column="FreightAmount" summaryType="sum" name="FreightAmount"></dxi-total-item>
              </dxo-summary>
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            </dx-data-grid>
          </div>
        </dxi-item>
        <!-- Supplier Add/Ls Grid -->
        <dxi-item title="Supplier Add/Less">
          <div *dxTemplate class="p-1" class="p-1">
            <dx-data-grid
              #journalGrid
              id="journalGrid"
              [dataSource]="journalDataSource"
              [showColumnLines]="false"
              [showRowLines]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              [showBorders]="true"
              [repaintChangesOnly]="true"
              (onContentReady)="onSuupplierAddLessRowUpdated($event)"
              (onRowUpdated)="onSuupplierAddLessRowUpdated($event)"
            >
              <dxo-load-panel [enabled]="true"></dxo-load-panel>
              <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"> </dxo-editing>
              <dxi-column dataField="ChartofAccountId" caption="Account (Cr)" dataType="number">
                <dxo-lookup [dataSource]="accountList" [displayExpr]="'AccountTitle'" [valueExpr]="'Id'"></dxo-lookup>
                <dxi-validation-rule
                  type="custom"
                  [validationCallback]="checkValidationForAccountInSupplierAddLsGrid"
                  message="You cannot Select Supplier Account in Header.Please Select Different Account!"
                >
                </dxi-validation-rule>
              </dxi-column>
              <!-- <dxi-column dataField="JvPrcnt"  caption="%" alignment="center" dataType="number" [setCellValue]="onPercentChangeInSupplierGrd"></dxi-column> -->
              <dxi-column dataField="JvQty" caption="Qty" alignment="center" dataType="number" [setCellValue]="onQtyChangeInSupplierGrd"></dxi-column>
              <dxi-column dataField="JvRate" caption="Rate" alignment="center" dataType="number" [setCellValue]="onRateChangeInSupplierGrd"></dxi-column>

              <dxi-column dataField="JvDebit" caption="Debit" alignment="center" dataType="number" [setCellValue]="onDebAmountChangeInSupplierGrd"></dxi-column>
              <dxi-column dataField="JvCredit" caption="Credit" alignment="center" dataType="number" [setCellValue]="onCreAmountChangeInSupplierGrd"></dxi-column>
              <dxi-column dataField="JvRemarks" caption="Remarks" alignment="center"></dxi-column>
              <dxo-summary [recalculateWhileEditing]="true">
                <!-- <dxi-total-item column="JvPrcnt" summaryType="sum" name="JvPrcnt"></dxi-total-item> -->
                <dxi-total-item column="JvQty" summaryType="sum" name="JvQty"></dxi-total-item>
                <dxi-total-item column="JvRate" summaryType="sum" name="JvRate"></dxi-total-item>
                <dxi-total-item column="JvDebit" summaryType="sum" name="JvDebit"></dxi-total-item>
                <dxi-total-item column="JvCredit" summaryType="sum" name="JvCredit"></dxi-total-item>
              </dxo-summary>
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            </dx-data-grid>
          </div>
        </dxi-item>
        <!-- Item Add/Ls Grid -->
        <dxi-item title="Item Add/Less">
          <div *dxTemplate class="p-1">
            <dx-data-grid
              #expenseGrid
              id="expenseGrid"
              [dataSource]="expenseDataSource"
              [showColumnLines]="false"
              [showRowLines]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              [showBorders]="true"
              [repaintChangesOnly]="true"
              (onContentReady)="onRowUpdatedItemGrd($event)"
              (onRowUpdated)="onRowUpdatedItemGrd($event)"
            >
              <dxo-load-panel [enabled]="true"></dxo-load-panel>
              <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"> </dxo-editing>
              <dxi-column dataField="InvRevExpItemId" caption="Account">
                <dxo-lookup [dataSource]="itemAccountList" [valueExpr]="'Id'" dataType="number" [displayExpr]="'OtherItemName'"></dxo-lookup>
                <dxi-validation-rule type="custom" [validationCallback]="checkValidationForAccountInItemAddLsGrid" message="Please Select Expense Type!"> </dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="Qty" caption="Qty" alignment="center" dataType="number" [setCellValue]="onQtyChangeInItemGrd"></dxi-column>
              <dxi-column dataField="Rate" caption="Rate" alignment="center" dataType="number" [setCellValue]="onRateChangeInItemGrd"></dxi-column>
              <dxi-column dataField="Amount" caption="Amount" dataType="number" [setCellValue]="onExpenseAmountChangeInItemGrid">
                <dxi-validation-rule type="custom" [validationCallback]="checkValidationForAmmountInItemAddLsGrid" message="Please Enter Amount For Expense!"> </dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="Remarks" caption="Remarks" alignment="center"></dxi-column>
              <dxo-summary [recalculateWhileEditing]="true">
                <dxi-total-item column="Qty" summaryType="sum" name="Qty" displayFormat="{0}" valueFormat="#,##0"></dxi-total-item>
                <dxi-total-item column="Rate" summaryType="sum" name="Rate" displayFormat="{0}" valueFormat="#,##0"></dxi-total-item>
                <dxi-total-item column="Amount" summaryType="sum" name="Amount" displayFormat="{0}" valueFormat="#,##0"></dxi-total-item>
              </dxo-summary>
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            </dx-data-grid>
          </div>
        </dxi-item>
      </dx-tab-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <notification-popups [title]="'WARNING'" [type]="'warning'" (okClicked)="closeNotificationPopups($event)" [visibility]="warningPopupVisibility" [message]="message"></notification-popups>
      <notification-popups [title]="'ERROR'" [type]="'error'" (okClicked)="closeNotificationPopups($event)" [visibility]="errorPopupVisisble" [message]="message"></notification-popups>
      <notification-popups [title]="'Status'" [type]="'success'" (okClicked)="closeNotificationPopups($event)" [visibility]="successPopupVisible" [message]="message"></notification-popups>
    </div>
    <div class="col-md-12">
      <load-panel [message]="loadPanelMessage" [visibility]="loadPanelVisible"></load-panel>
    </div>
  </div>
</div>

<sal-invoice-loader (closePopup)="handlePopupVisibility($event)" (getSelectedData)="getSelectedDataFromLoader($event)" [PopupVisibile]="ShowLoaderPopup"> </sal-invoice-loader>

<!-- Warning Popup -->
<!-- <dx-popup [width]="300" [height]="250" [showTitle]="true" position="center" [dragEnabled]="false" [closeOnOutsideClick]="false" titleTemplate="titleTemplate" [(visible)]="ConfirmationVisible">
  <div *dxTemplate="let data of 'titleTemplate'" class="d-flex text-center justify-content-center">
    <h4 class="text-dark">WARNING</h4>
  </div>
  <div *dxTemplate="let data of 'content'">
    <div style="text-align: center">
      <h1 style="color: #ffcc00; font-size: 60px"><i class="fas fa-exclamation-triangle"></i></h1>
      <h6>{{ message }}</h6>
      <div class="mt-3 d-flex justify-content-center">
        <dx-button text="Ok" type="success" (onClick)="onOk()"></dx-button>
      </div>
    </div>
  </div>
</dx-popup> -->
<!-- Wrning Popup -->
