<dx-data-grid
  [visible]="DeliveryOrderDetailVisibility"
  [dataSource]="gridDataSource"
  [showColumnLines]="false"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  [wordWrapEnabled]="false"
>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true"></dxo-pager>

  <dxi-column dataField="OrderNo" caption="Order No" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="SupplierCustomer" caption="Supplier Customer" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="ItemName" caption="Item Name" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="DoQty" caption="Qty" dataType="number" alignment="right"></dxi-column>
  <dxi-column dataField="DoWeight" caption="Weight" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="LoadingQty" caption="Loading Qty" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="LoadingWeight" caption="Loading Weight" dataType="number" alignment="right" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="PackUOM" caption="Pack UOM" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="PackTypeDesc" caption="Packing Type" dataType="string" alignment="left"></dxi-column>

  <dxi-column dataField="LoadingRemarks" caption="Remarks" dataType="string" alignment="left"></dxi-column>

  <dxo-summary>
    <dxi-total-item column="ItemAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="ItemQty" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="NetBillWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="NetStockWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="RateCutAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="RateCut" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="CommissionAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="EBTotalWt" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="ExpenseAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="FreightAmount" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="GrossWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
  </dxo-summary>
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
</dx-data-grid>

<dx-data-grid
  [visible]="SupplyOrderDetailGridVisibility"
  [dataSource]="SupplyOrderDetailList"
  [showColumnLines]="false"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  [wordWrapEnabled]="false"
>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true"></dxo-pager>
  <dxi-column dataField="OrderNo" caption="Order#" cellTemplate="OrderNumberTemplate" dataType="number" alignment="center"></dxi-column>
  <dxi-column dataField="SupplierName" caption="Supplier" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="ItemName" caption="ItemName" dataType="string" alignment="left"></dxi-column>
  <dxi-column dataField="CropYear" caption="CropYear" cellTemplate="DetailcellTemplate" dataType="number" alignment="center"></dxi-column>
  <dxi-column dataField="PackSize" caption="PackSize" cellTemplate="DetailcellTemplate" dataType="string" alignment="center"></dxi-column>
  <dxi-column dataField="Qty" caption="Qty" cellTemplate="DetailcellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="OrderItemRate" caption="Rate" cellTemplate="DetailcellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="NetWeight" caption="NetWeight" cellTemplate="DetailcellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="GrossWeight" caption="GrossWeight" cellTemplate="DetailcellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
  <dxi-column dataField="Moisture" caption="Moisture" cellTemplate="DetailcellTemplate" dataType="number" alignment="center" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>

  <div *dxTemplate="let cell of 'DetailcellTemplate'">
    <div id="abcdedf">{{ cell.text }}</div>
  </div>
  <div *dxTemplate="let cell of 'OrderNumberTemplate'">
    <div id="abcdedf" style="font-weight: bold; font-size: medium">{{ cell.text }}</div>
  </div>
  <dxo-summary>
    <dxi-total-item column="Qty" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="NetWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
    <dxi-total-item column="GrossWeight" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.##"> </dxi-total-item>
  </dxo-summary>
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
</dx-data-grid>
