<!-- Main Card Panel -1 -->
<div class="row">
  <div class="col-sm-3">
    <!-- DetailCard -->
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-header text-center bg-transparent">Accounts</div>
      <div class="card-body">
        <a routerLink="/account-reports/coa">
          <h5 class="card-title">Chart Of Account Report</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Voucher Report -->
        <a routerLink="/account-reports/voucher-reports">
          <h5 class="card-title">Voucher Report</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Voucher Validation Report -->
        <a routerLink="/account-reports/voucher-validation">
          <h5 class="card-title">Voucher Validation Report</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!--Activity Summary Report -->
        <a routerLink="/account-reports/activity-summary">
          <h5 class="card-title">Activity Summary</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!--General Ledger Report -->
        <a routerLink="/account-reports/general-ledger">
          <h5 class="card-title">General Ledger</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!--Account Statement Report -->
        <a routerLink="/account-reports/account-statement">
          <h5 class="card-title">Account Statement</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!--Trial Balance Report -->
        <a routerLink="/account-reports/trial-balance">
          <h5 class="card-title">Trial Balance</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!--Selected Trial Report -->
        <a routerLink="/account-reports/trial-balance-selected">
          <h5 class="card-title">Selected Trial Balance</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <a routerLink="/account-reports/bank-balances">
          <h5 class="card-title">Bank Balances</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Bank Balances .</p> -->
        <hr />
        <a routerLink="/account-reports/cash-balances">
          <h5 class="card-title">Cash Balances</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Cash Balances .</p> -->
        <hr />
        <a routerLink="/account-reports/receivable-aging">
          <h5 class="card-title">receivable Aging</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!--Trial Balance Report -->
        <a routerLink="/account-reports/payable-aging">
          <h5 class="card-title">Payable Aging</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <a routerLink="/account-reports/receivable-follow-up-history">
          <h5 class="card-title">receivable Follow Up</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All receivable Follow Up .</p> -->
        <hr />
        <a routerLink="/account-reports/unbalanced-voucher-dashboard">
          <h5 class="card-title">Unbalanced Voucher</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Unbalanced Voucher .</p> -->
        <hr />
        <a routerLink="/account-reports/payable">
          <h5 class="card-title">Payable</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Payable .</p> -->
        <hr />
        <a routerLink="/account-reports/receivable">
          <h5 class="card-title">Receivable</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Receivable .</p> -->
        <hr />
      </div>
    </div>
  </div>
  <!-- Main Card Panel -2 -->
  <div class="col-sm-3">
    <!-- DetailCard -->
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-header text-center bg-transparent">Inventory</div>
      <div class="card-body">
        <a routerLink="/inventory-reports/purchase-order-register">
          <h5 class="card-title">Purchase Order Register</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Purchase Order Register.</p> -->
        <hr />
        <!-- Sale Order Register -->
        <a routerLink="/inventory-reports/sale-order-history">
          <h5 class="card-title">Sale Order Register</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Sale Order.</p> -->
        <hr />
        <!-- Gatepass-Inward History -->
        <a routerLink="/inventory-reports/gatepass-Inward-history">
          <h5 class="card-title">Gatepass Inward History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Gatepass Inward History.</p> -->
        <hr />
        <!-- Gatepass-Outward History -->
        <a routerLink="/inventory-reports/gatepass-outward-history">
          <h5 class="card-title">Gatepass Outward History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Gatepass Outward History.</p> -->
        <hr />
        <!-- Grn History -->
        <a routerLink="/inventory-reports/grn-history">
          <h5 class="card-title">Grn History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Goods Receipt Notes .</p> -->
        <hr />
        <!-- Gdn History -->
        <a routerLink="/inventory-reports/gdn-history">
          <h5 class="card-title">Gdn History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Goods Receipt Notes .</p> -->
        <hr />
        <!-- Item Ledger -->
        <a routerLink="/inventory-reports/item-ledger">
          <h5 class="card-title">Item Ledger</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print Item Ledger .</p> -->
        <hr />
        <!-- Purchase Invoice Register -->
        <a routerLink="/inventory-reports/purchase-invoice-register">
          <h5 class="card-title">Purchase Invoice Register</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Sale Invoice Register -->
        <a routerLink="/inventory-reports/sale-invoice-history">
          <h5 class="card-title">Sale Invoice History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Sale Invoice History .</p> -->
        <hr />
        <!-- Sale Invoice Direct Register -->
        <a routerLink="/inventory-reports/sale-invoice-direct-register">
          <h5 class="card-title">Sale Invoice Direct Register</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Sale Invoice History .</p> -->
        <hr />
        <!-- Weighbridge History -->
        <a routerLink="/inventory-reports/weighbridge-history">
          <h5 class="card-title">Weighbridge History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Sale Invoice History .</p> -->
        <hr />
        <!-- Item History -->
        <a routerLink="/inventory-reports/item-List">
          <h5 class="card-title">Item History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Sale Invoice History .</p> -->
        <hr />
      </div>
    </div>
  </div>
  <!-- Main Card Panel -3-->
  <div class="col-sm-3">
    <!-- DetailCard -->
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-header text-center bg-transparent">Stock</div>
      <div class="card-body">
        <!-- Stock Evaluation -->
        <a routerLink="/stock-reports/stock-evaluation">
          <h5 class="card-title">Item Ledger</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Rice Stock Transaction -->
        <a routerLink="/stock-reports/rice-stock-transaction">
          <h5 class="card-title">Rice Stock Transaction</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Stock Report -->
        <a routerLink="/stock-reports/stock-report">
          <h5 class="card-title">Stock Report</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
      </div>
    </div>
  </div>
  <!-- Main Card Panel -4-->
  <div class="col-sm-3">
    <!-- DetailCard -->
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-header text-center bg-transparent">Export</div>
      <div class="card-body">
        <!-- Sale Contract Register -->
        <a routerLink="/export-reports/sale-contract-register">
          <h5 class="card-title">Sale Contract Register</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Bill of Lading -->
        <a routerLink="/export-reports/bill-of-lading">
          <h5 class="card-title">Bill of Lading</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Forwarding -->
        <a routerLink="/export-reports/forwarding">
          <h5 class="card-title">Forwarding</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Shipping line Booking-->
        <a routerLink="/export-reports/shipping-line-booking">
          <h5 class="card-title">Shipping line Booking</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Shipment Schedule-->
        <a routerLink="/export-reports/shipment-schedule">
          <h5 class="card-title">Shipment Schedule</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Advance Payment Utlization-->
        <a routerLink="/export-reports/advance-payment-utlization">
          <h5 class="card-title">Advance Payment Utlization</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
        <!-- Shipment History-->
        <a routerLink="/export-reports/shipment-history">
          <h5 class="card-title">Shipment History</h5>
        </a>
        <!-- <p class="card-text">This is the Report For Print All Chart Of Account .</p> -->
        <hr />
      </div>
    </div>
  </div>
</div>
