<app-custom-styled-popup-with-dynamic-height-width [PopupVisible]="LoaderPopupVisible" (ClosePopup)="closeLoaderPopup($event)">
  <ng-template>
    <dx-form [formData]="LoaderFormData" #LoaderForm [showRequiredMark]="false" [colCountByScreen]="{ lg: 6, md: 4, sm: 3, xs: 2 }">
      <dxi-item
        cssClass="px-1 m-0"
        dataField="FromDate"
        editorType="dxDateBox"
        [editorOptions]="{
          placeholder: 'Document Date',
          displayFormat: 'dd-MMM-yyyy'
        }"
      >
        <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        <dxi-validation-rule type="required" message="Document Date is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        cssClass="px-1 m-0"
        dataField="ToDate"
        editorType="dxDateBox"
        [editorOptions]="{
          placeholder: 'Document Date',
          displayFormat: 'dd-MMM-yyyy'
        }"
      >
        <dxo-label text=" " location="top" [showColon]="false"></dxo-label>
        <dxi-validation-rule type="required" message="Document Date is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        cssClass="px-1 m-0"
        [colSpan]="1"
        dataField="CustomerId"
        editorType="dxSelectBox"
        [editorOptions]="{
          dataSource: CustomerList,
          valueExpr: 'Id',
          displayExpr: 'CompanyName',
          placeholder: 'Supplier/Customer',
          searchEnabled: true
        }"
      >
        <dxo-label text=" " [showColon]="false" location="top"></dxo-label>
        <dxi-validation-rule type="required" message="Customer is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        cssClass="px-1 m-0"
        [colSpan]="1"
        editorType="dxSelectBox"
        dataField="ItemId"
        [editorOptions]="{
          dataSource: ItemList,
          valueExpr: 'OrderItemId',
          displayExpr: 'ItemName',
          placeholder: 'Item Name',
          searchEnabled: true
        }"
      >
        <dxo-label text=" " [showColon]="false" location="top"></dxo-label>
        <dxi-validation-rule type="required" message="Item Name is required"></dxi-validation-rule>
      </dxi-item>
      <dxi-item cssClass="mt-2" [colSpan]="2">
        <div *dxTemplate>
          <div class="d-flex justify-content-start">
            <dx-button type="default" class="mr-2" icon="search" text="" (onClick)="LoadSaleOrderForDeliveryOrder()"> </dx-button>
            <dx-button type="danger" icon="download" text="" (onClick)="LoadSelectedData()"> </dx-button>
          </div>
        </div>
      </dxi-item>
    </dx-form>
    <div class="mt-3">
          <dx-data-grid
      #popupGrid
      id="popupGrid"
      [height]="gridHeightInPopupWithGrid"
      [dataSource]="SaleOrderListForLoader"
      [showColumnLines]="false"
      [showRowLines]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [showBorders]="true"
    >
      <dxo-load-panel [enabled]="false"></dxo-load-panel>
    
      <dxo-filter-row [visible]="filter"></dxo-filter-row>
      <dxo-header-filter [visible]="filter"></dxo-header-filter>
      <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always"></dxo-selection>
      <dxi-column dataField="Id" caption="SaleOrderId" [visible]="false"></dxi-column>
      <dxi-column dataField="OrderDate" caption="OrderDate" dataType="date" [width]="110" alignment="center" [format]="'dd-MMM-yyyy'"> </dxi-column>
      <dxi-column dataField="CustomerName" caption="SupplierCustomer" dataType="string" alignment="left"> </dxi-column>
      <dxi-column dataField="ItemName" caption="Item" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="PackUOM" caption="PackUOM" dataType="string" alignment="right"></dxi-column>
      <dxi-column dataField="OrderItemQty" caption="Item Quantity" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="right"></dxi-column>
      <dxi-column dataField="NetWeight" caption="Net Weight" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="right"></dxi-column>
      <dxi-column dataField="JobLotDescription" caption="Job Lot" dataType="number" [format]="{ type: 'fixedPoint', precision: 0 }" alignment="right"></dxi-column>
      <dxi-column dataField="CityArea" caption="City" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="OrderRemarks" caption="Remarks" dataType="string" alignment="left"></dxi-column>
      <dxi-column dataField="SaleOrder" caption="Order#" [width]="80" dataType="number" alignment="left" cellTemplate="SaleOrderNumberTemplate" [fixed]="true" [fixedPosition]="'right'"></dxi-column>
      <div *dxTemplate="let cell of 'SaleOrderNumberTemplate'">
        <div style="font-weight: bolder; font-size: large">{{ cell.text }}</div>
      </div>
      <dxo-scrolling mode="infinite" [scrollByContent]="true" [scrollByThumb]="true" [showScrollbar]="'always'"></dxo-scrolling>
    </dx-data-grid>
    </div>

  </ng-template>
</app-custom-styled-popup-with-dynamic-height-width>
