
  .body {
    padding-left: 10px;
    .body-title {
      padding-top: 6px;
      h6{
        font-size: 15px;
        color: #065a7c;
      }
      div {
        display: flex;
        p {
          &:nth-child(2) {
            color: green;
            padding-left: 50px;
          }
        }
      }
    }
    .body-footer {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .zero-padding-margin {
    padding: 0;
    margin: 0;
  }
  